/* This file is for your main application CSS */
@import "./phoenix.css";

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

html {
  background-image: url("/images/ui/Forest-path.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
html, body {
  height: max(100%, auto);
  margin: 0%;
}
body {
  background: rgba(250, 250, 250, 0.7);
}

.page-container {
  position: relative;
  min-height: 100%;
}
.content-wrap {
  padding-bottom: 15em;
}

.game-title {
  text-decoration: underline;
  font-size:xx-large;
  font-weight: 500;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.ntnu-logo {
  max-width: 200px;
  height: 2rem;
  margin: 1rem;
  justify-self: center;
  align-self: center;
  display: inline-block;
  margin-bottom: 1em;
}
.ntnu-logo img {
  width: 200px;
  display: block;
}

header {
  background: transparent;
  /* border-bottom: 1px solid #060606; */
}

.footer-container {
  margin: 0 auto;
  max-width: 80.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  background: rgba(20, 20, 20, 0.1);
  padding: 2em 0 2em 0 ;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
.footer-div {
  justify-self: center;
  align-self: center;
}

.grid_wrapper{
  display: grid;
  grid-template-columns: 0.1fr 0.8fr 0.1fr;
  grid-template-rows: 0.1fr 0.8fr 0.1fr;
}

input[type="color"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="email"], input[type="month"], 
input[type="number"], input[type="password"], input[type="search"], 
input[type="tel"], input[type="text"], input[type="url"], input[type="week"],
input:not([type]):focus, textarea:focus, select:focus {
  border: 0.1rem solid #8D5D57;
  background-color: #d8d8d8;
}

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, 
input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, 
input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="week"]:focus,
input:not([type]), textarea, select {
  border: 0.1rem solid #8D5D57;
  background-color: #d8d8d8;
}

.game-button, input[type='button'], input[type='reset'], input[type='submit'] {
  background-image: url("/images/ui/menu_button.png");
  background-size: cover;
  background-color: transparent;
  border-radius:.4rem;
  border: none;
  width: 120px;
  height: 40px;
  color:#fff;
  cursor:pointer;
  display:inline-block;
  font-size:1.1rem;
  font-weight:700;
  letter-spacing:.1rem;
  line-height:3.8rem;
  padding:0 3.0rem;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  white-space:nowrap
}

.toggle-button {
  background-image: url("/images/ui/menu_button.png");
  background-size: cover;
  background-color: transparent;
  border-radius:.4rem;
  border: none;
  width: 150px;
  height: 50px;
  color:#fff;
  cursor:pointer;
  display:inline-block;
  font-size:1.1rem;
  font-weight:700;
  letter-spacing:.1rem;
  line-height:3.8rem;
  padding:0 3.0rem;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  white-space:nowrap
}
.game-button:hover {
  background-image: url("/images/ui/menu_button_press.png");
}

.form-label {
  font-weight: 200;
  font-size: x-small;
}

.challenge {
  overflow: hidden;
  position: absolute;
  width: auto;
  top: max(50vh, 40vw);
  left: 5vw;
  right: 5vw;
}

.challenge-box {
  align-self: center;
  z-index: 100000;
  background-color: #3A3D3E;
  color: #c2c2c2;
  border-radius: 10px;
  border: 2px solid #8D5D57;
  padding: 2rem;
  margin-top: 0%;
}

.challenge.slide-up {
  animation: slide-up 1s ;
}

.challenge.slide-down {
  animation: slide-down 1s 1 linear forwards ;
  display: none;
}

.challenge-box .challenge-header {
  font-size: large;
  font-weight: 400;
}

.challenge-box .challenge-text {}

.challenge-box .challenge-options {
  margin-top: 20px;
}

.challenge-box .challenge-options .challenge-option {
  display: flex;
}

.challenge-box .challenge-options .challenge-option .challenge-option-label {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
}
.challenge-box .challenge-options .challenge-option .challenge-option-label.correct .checkmark {
  animation: checkmark 1s linear forwards;
  animation-delay: calc(1.05s * var(--i));
}
.challenge-box .challenge-options .challenge-option .challenge-option-label.incorrect .x-mark {
  animation: cross 1s linear forwards;
  animation-delay: calc(1.05s * var(--i));
}

.challenge-box .challenge-options .challenge-option .challenge-option-label.correct span {
  animation: wavey-correct 1s linear forwards;
  animation-delay: calc(.05s * var(--i));
}

.challenge-box .challenge-options .challenge-option .challenge-option-label.incorrect span {
  animation: wavey-incorrect 1s linear forwards;
  animation-delay: calc(.05s * var(--i));
}

@keyframes wavey-correct {
  100% {
    transform: translateY(0);
    color: lightgreen;
  }
  0%, 40% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

@keyframes wavey-incorrect {
  100% {
    transform: translateY(0);
    color: red;
  }
  0%, 40% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

@keyframes checkmark {
  0% {
    display: none;
    
  }
  100% {
    display: inline-block;

  }
}

@keyframes cross {
  0% {
    display: none;
    
  }
  100% {
    display: inline-block;

  }
}




.challenge-box .challenge-answer-button-row {
  display: flex;
  justify-content: end;
}

@keyframes slide-up {
  0% {
    margin-top: 100%;
    height: 100%;
  }
  99% {
    margin-top: 1%;
    height: 100%;
  }
  100% {
    margin-top: 1%;
    height: 100%;
    display: flex;
  }
}

@keyframes slide-down {
  0%{
    margin-top: 0%;
    height: 100%;
  }
  99% {
    margin-top: 99%;
    height: 100%;
  }
  100% {
    margin-top: 100%;
    height: 100%;
    display: none;
  }
}

progress::-moz-progress-bar {
  border: 1px solid #8D5D57;
  background: #d8d8d8;
}

progress::-webkit-progress-value {
  border: 1px solid #8D5D57;
  background: #d8d8d8;
}

.player_points {
  color: #8D5D57;
  font-size: large;
  margin: 5px 0px 0px 10px;
}

.animated-door {
  animation: open-door 3.9s steps(14);
  background: url("/images/tiles/wall/door_spritesheet_scaled.png");
  width: 16px;
}

@keyframes open-door {
  to {
    background-position: -224px;
  }
}


.teleport:before {
  animation: teleport_dust 1s infinite linear;
  content: '';
  background: none;
  border-radius: 25%;
  display: block;
  height: 20px;
  width: 6px;
  opacity: .5;
  transform: scale(3);
}

@keyframes teleport_dust {
  0% {  
		box-shadow: 
			rgba(0,0,0,0) 30px 30px, 
			rgba(0,0,0,0) 40px 40px,  
			#0065ff 50px 75px, 
			#0065ff 55px 50px, 
			#0065ff 70px 100px, 
			#0065ff 80px 95px, 
			#0065ff 110px 45px, 
      #0065ff 90px 35px;
	}
	25% {  
	  	box-shadow: 
			#0065ff 30px 45px,
			#0065ff 40px 60px,
			#0065ff 50px 90px,
			#0065ff 55px 65px,
			rgba(0,0,0,0) 70px 120px,
			rgba(0,0,0,0) 80px 120px,
			#0065ff 110px 70px,
			#0065ff 90px 60px;
	}
	26% {  
		box-shadow:
			#0065ff 30px 45px,
			#0065ff 40px 60px,
			#0065ff 50px 90px,
			#0065ff 55px 65px,
			rgba(0,0,0,0) 70px 40px,
			rgba(0,0,0,0) 80px 20px,
			#0065ff 110px 70px,
			#0065ff 90px 60px; 
	}
	50% { 
		box-shadow:
			#0065ff 30px 70px,
			#0065ff 40px 80px,
			rgba(0,0,0,0) 50px 100px,
			#0065ff 55px 80px,
			#0065ff 70px 60px,
			#0065ff 80px 45px,
			#0065ff 110px 95px,
			#0065ff 90px 85px;
	}
	51% {
		box-shadow:
			#0065ff 30px 70px,
			#0065ff 40px 80px,
			rgba(0,0,0,0) 50px 45px,
			#0065ff 55px 80px,
			#0065ff 70px 60px,
			#0065ff 80px 45px,
			#0065ff 110px 95px,
			#0065ff 90px 85px;
	}
	75% {
		box-shadow:
			#0065ff 30px 95px,
			#0065ff 40px 100px,
			#0065ff 50px 60px,
			rgba(0,0,0,0) 55px 95px,
			#0065ff 70px 80px,
			#0065ff 80px 70px,
			rgba(0,0,0,0) 110px 120px,
			rgba(0,0,0,0) 90px 110px;
	}
	76% {
		box-shadow:
			#0065ff 30px 95px,
			#0065ff 40px 100px,
			#0065ff 50px 60px,
			rgba(0,0,0,0) 55px 35px,
			#0065ff 70px 80px,
			#0065ff 80px 70px,
			rgba(0,0,0,0) 110px 25px,
			rgba(0,0,0,0) 90px 15px;
	}
	100% {
		box-shadow:
			rgba(0,0,0,0) 30px 120px,
			rgba(0,0,0,0) 40px 120px,
			#0065ff 50px 75px,
			#0065ff 55px 50px,
			#0065ff 70px 100px,
			#0065ff 80px 95px,
			#0065ff 110px 45px,
			#0065ff 90px 35px;
	}
}

.purpose-description {
  border-radius: 25px;
  background-color: rgba(250, 250, 250, 0.6);
  display: flex;
  align-items: center;
  padding: 1em 1em; 
}
.description {
  width: 90%;
  
}
hr { display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc;
  margin: 1em 0; padding: 0; }
