.left-wall {
  height: 3em;
  width: 14em;
  display: flex;
  perspective: 200px;
  margin-left: 200px;
}

.left-wall-perspective {
  perspective-origin: 100% -250%;
}

.square {
  width:100%;
  height:100%;
  background-color: burlywood;
}

.square::after {
  content: "";
  position: absolute;
  left: -4%;
  width: 10px;
  height: 150%;
  top: -25%;
  background-color: white;
  border-radius: 50%;
}


.x-axis {
  transform: rotateY(60deg);
}



.checkmark {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 10px;
  position: relative;
}

.checkmark .checkmark-circle {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: lightgreen;
  border-radius: 11px;
  left: 0;
  top: 0;
}

.checkmark .checkmark-stem {
  position: absolute;
  width: 3px;
  height: 9px;
  background-color: white;
  left: 11px;
  top: 6px;
  transform: rotate(45deg);
}

.checkmark .checkmark-kick {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: white;
  left: 7px;
  top: 10px;
  transform: rotate(45deg);
}

.x-mark {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 10px;
  position: relative;
}

.x-mark .x-mark-circle {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: red;
  border-radius: 11px;
  left: 0;
  top: 0;
}

.x-mark .x-mark-stem {
  position: absolute;
  width: 3px;
  height: 11px;
  background-color: white;
  left: 9px;
  top: 5px;
}
