<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Master", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link rel="manifest" href="/manifest.webmanifest">
  </head>
  <body>
    <div class="page-container">
      <div class="content-wrap">
        <header>
          <section class="container">
            <%# <a href="https://phoenixframework.org/" class="phx-logo">
              <img src={Routes.static_path(@conn, "/images/phoenix.png")} alt="Phoenix Framework Logo"/>
            </a> %>
            <div class="game-title">
              CybSecMaster
            </div>
          </section>
        </header>
        <%= @inner_content %>
        <footer>
        <section class="footer-container">
          <div class="footer-div">
            This is a prototype for a cybersecurity game made as part of a Masters thesis in Computer Science at
            <a href="https://www.ntnu.no/" class="ntnu-logo">
                <img src={Routes.static_path(@conn, "/images/ntnu.png")} alt="NTNU Logo"/>
            </a>
          </div>
          <div class="footer-div">
            Made with ❤️‍🔥 by <a href="https://gitlab.stud.idi.ntnu.no/reaas" class="gitlab-link">  Rolf Erik Sesseng Aas </a> and <a href="https://gitlab.stud.idi.ntnu.no/sigurdra" class="gitlab-link"> Sigurd Røstad Augdal </a>.
          </div>
        </section>
      </footer>
      </div>
    </div>
  </body>
</html>
